*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.container{
    display:flex;
    padding: 0 34px;
}
.left-block{
    display:inline-block;
}

.clock-icon{
    margin: 45px 0px 0px -16px;
    position:absolute;
}

#round-text{
    width: 201px;
    height: 201px;
    padding: 40px 0px 0px 53px;
}

span{
    position: absolute;
    transform-origin:0px 60px;
}
#text{
    color: #333;
    font-family: Times;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content{
    display:flex;
    padding-left: 24px;
    padding-bottom: 70px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

}

.content h1{
    color: #050505;
    font-family: Playfair Display;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

.content p{
    color: #333;
    font-family: Work Sans;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.anchor-tag-1{
    display:inline-block;
    border-radius: 16px;
    background: #050505;    
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    border: 0.1rem solid  #252525;
    padding: 15px 45px;
    color:#ffffff;
    text-decoration:none;
    
}

.anchor-tag-2{
    display:inline-block;
    border-radius: 16px;  
    border: 0.1rem solid  #252525;
    padding: 15px 45px;
    margin-left: 32px;
    text-decoration:none;
    color: #333;
    font-family: Work Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.bottom-icons{
    display:flex;
    padding: 24px;
    height: 118px;
    border-radius: 24px;
    border: 1px solid #111;
    column-gap: 15%;
    width: auto;
}

.bottom-icons p{
    color: #111;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom-icons div{
    width: 92px;
    height: 31px;
}


.right-block{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 62px;

    width: 1323.305px;
    height: 778.189px;
    margin-bottom: 92px;
}

.border-1{
    width: 480px;
    height: 568px;
    border-radius: 48px;
    border: 2px solid #111;
    background: #FFF;
    margin-top: 40px;
    margin-left: 66px;

    z-index:1;
    position: absolute;
    
}

.star-1{
    z-index:2;
    position: absolute;

    width:136px; 
    height:136px;
}

.border-2{

    width: 310px;
    height: 476px;
    
    border-radius: 40px;
    border: 2px solid #111;
    background: #FFF;

    margin: 272.19px 0px 0px 303px;

    z-index:3;
    position: absolute;
}
.star-2{
    z-index:5;
    position: absolute;

    width: 75px;
    height: 94.595px;

    stroke-width: 1.175px;
    stroke: #FFF;

    margin: 160px 0px 0px 154px;
}

.star-3{
    z-index:5;
    position: absolute;

    width: 102.737px;
    height: 129.578px;

    stroke-width: 1.61px;
    stroke: #FFF;

    margin: 555px 0px 0px 444px;
}

figure{
    padding: 0px 34px 0px 0px;
    margin: 79.45px 0px 0px 132px;
    width: 480px;
    height: 628px;
    border-radius: 51.831px;
    z-index: 4;
    position: absolute;
}

img{
    width: 100%;
    height: 100%;
}

.anchor-tag-3{

    display: inline-block;
    padding: 16px 24px;
    border-radius: 16px;
    background: #685FD4;
    backdrop-filter: blur(2px);

    margin: 137px 0px 0px 375px;
    
    color: #FFF;
    font-family:Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    z-index: 5;
    position: absolute;
}

.anchor-tag-4{
    display: inline-block;
    padding: 16px 24px;
    border-radius: 16px;
    background: #685FD4;
    backdrop-filter: blur(2px);

    margin: 624px 0px 0px 36px;

    color: #FFF;
    font-family:Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    z-index: 5;
    position: absolute;
}


@media only screen and (max-width: 1338px) and (min-width: 1024px){
    .right-block{
        padding-left:1%;
    }
    .star-1{
        height: 100px;
        width:100px;
    }
    
    .border-1 {
        margin-top: 32px;
        margin-left: 48px;
        height: 550px;
        width: 420px;
    }

    figure{
        margin: 67.45px 0px 0px 90px;
        height: 620px;
        width: 450px;
    }
    .anchor-tag-3{
        padding: 18px 27px;
        font-size: 16px;
        margin: 129px 0px 0px 332px;
    }

    .anchor-tag-4{
        font-size: 20px;
        padding: 14px 15px;
        margin:600px 0px 0px 36px;
    }
    .star-2 {
        width: 70px;
        height: 70px;
        margin: 128px 0px 0px 110px;
    }

    .star-3 {
        width: 100px;
        height: 115px;
        margin: 522px 0px 0px 379px;
    }

    .border-2 {
        height: 448px;
        margin: 282px 0px 0px 250px;
        width: 300px;
    }

    .content h1{
        font-size: 60px;
        line-height: 70px;
    }

    .content p{
        width: 536px;
    }
}

@media only screen and (max-width: 1238px) and (min-width: 1024px){
    .container{
        align-items: center;
        padding: 0px 10px;
    }
    
    .right-block{
        margin-bottom: 60px;
    }

    .content h1{
        font-size: 50px;
        line-height: 70px;
    }

    .content p{
        width: auto;
    }

    .bottom-icons{
        display: inline-flex;
        column-gap: 5%;
    }
    .border-1 {
        width: 380px;
    }

    figure{
        width: 400px;
    }

    .anchor-tag-3{
        margin: 129px 0px 0px 273px;
    }

    .border-2 {
        width: 245px;
    }

    .star-3{
        margin: 540px 0px 0px 336px;
    }
}

@media only screen and (max-width: 1023px) {
    .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .right-block{
        width: 615px;
        margin-bottom: 30px;
    }

    .content h1{
        font-size: 76px;
    }

    .content p{
        font-size:30px;
        width:616px;
    }
    .bottom-icons{
        justify-content: center;
    }
}


@media only screen and (max-width: 805px) {
    .content h1{
        font-size: 64px;
    }

    .content p{
        font-size: 24px;
        width: 493px;
    }
}

@media only screen and (max-width: 710px) {

    .content h1 {
        font-size: 53px;
        line-height: 58px;
    }

    .bottom-icons{
        column-gap: 40px;
        width: auto;
    }

    .right-block{
        width: 495px;
        height: 670px;
    }

    .star-1{
        width:100px; 
        height:100px;
    }

    .border-1 {
        width: 380px;
        height: 460px;

        margin-top: 32px;
        margin-left: 48px;
    }

    figure{
        width: 400px;
        height: 525px;

        margin: 67.45px 0px 0px 90px;
    }
    .anchor-tag-3{
        padding: 18px 27px;
        font-size: 16px;
        margin: 129px 0px 0px 273px;
    }

    .anchor-tag-4{
        font-size: 18px;
        padding: 14px 15px;
        margin:516px 0px 0px 36px;
    }
    .star-2 {
        width: 70px;
        height: 70px;
        margin: 128px 0px 0px 110px;
    }

    .star-3 {
        width: 100px;
        height: 115px;
        margin: 460px 0px 0px 336px;
    }

    .border-2 {
        width: 229px;
        height: 372px;
        margin: 270.19px 0px 0px 265px;
    }
}